node_modules/
__pycache__/
*.pyc
.env
.DS_Store
*.mp4
*.pdf
*.txt
*.png
stitch_fsoc_tracking_simulator/
*.html

# Ignore other team's folders so they aren't pushed to your Python repo
node-backend/
react-frontend/

user-defined.txt